*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url("../img/img.jpg");
    color: #fff;
}

.header nav{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    position: fixed;
    width: 80%;
}

.header nav ul li{
    display: inline-block;
    padding: 0px 20px;   
}

.header nav, ul, li, a, button{
    text-decoration: none;
    color: silver;
    transition: 1s;
}

.header nav, ul, li, a:hover{
    color: #fff;
}

.header div{
    padding: 30vh;
    text-align: center;
}

.header h1{
    font-size: 13vh;   
}

.header h3{
    font-size: 7vh;
}

.header div button{
    background-color: #EE0979 ;
    color: #fff;
    width: 16vw;
    height: 12vh;
    margin: 13vh;
    border: none;
    border-radius: 10vh;
    transition: 1.5s;
    cursor:pointer;    
}

.header div button:hover{
    background-color: #EE0959;
}

.section1 img {
    width: 40%;
    height: 50%;
    border-radius: 40vh;
    padding: 0px 10px;
}

.section1{
    background-color: #fff;
    display: flex;
    padding: 20vh 19%;
    justify-content: space-between;   
}

.section1 div h2{
    font-size: 9vh;
}

.section1 div p{
    font-size: 3vh;
}

.section2 img {
    width: 40%;
    height: 50%;
    border-radius: 40vh;
    padding: 0px 10px;
}

.section2{
    background-color: #fff;
    display: flex;
    padding: 20vh 19%;
    justify-content: space-between;   
}

.section2 div h2{
    font-size: 9vh;
}

.section2 div p{
    font-size: 3vh;
}

.section3 img {
    width: 40%;
    height: 50%;
    border-radius: 40vh;
    padding: 0px 10px;
}

.section3{
    background-color: #fff;
    display: flex;
    padding: 20vh 19%;
    justify-content: space-between;   
}
.section3 div h2{
    font-size: 9vh;
}
.section3 div p{
    font-size: 3vh;
}

.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 3vh;
    padding: 8vh;
}
